{% extends "base.html" %}
{% block content %}
    <section class="about-us">
        <div class="image-container">
            <img src="/static/images/clubimg.jpg" alt="CSE Image"> 
        </div>
        <div class="content-container">
            <h2>About CSE Club</h2>
            <p>what the club does and its impact.</p>
            <ul class="key-points">
                <li>Unique education </li>
                <li>Digital Equipment</li>
                <li>Smart Teaching tools</li>
            </ul>
            <br>
            <a href="{% url "signup" %}" class="button">Join Us Today!</a>
        </div>
    </section>

{% endblock %}
